/* ============ Globals ============ */
header {
  width: 100%;
  background: linear-gradient(0.98turn, #491400, rgba(#C07100, .83), #7A4834);
  //background: linear-gradient(185deg, rgb(255, 68, 78), rgba(53, 43, 46, 1));
  height: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: pxToRem(25);
}

.main-heading {
  color: #FFFFA5;
  text-align: center;
  font-size: 7vh;
}

/* ============= Media Queries ============== */
@media screen and (min-width: pxToRem(768)) {
  header {
    height: 35vh;
  }
}