/* ============= Search Block ============== */
.search-block {
  background-color: $white;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-query {
  width: 100%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-query label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.search-query label p {
  font-size: 25px;
  margin: 0 15px;
  padding: 10px;
  text-align: center;
}
.search-query label input {
  margin: 0 15px;
  padding: 10px;
  width: 200px;
}

/* ============= Media Queries ============== */
