.h-icon-styles {
  @include verticalFlex(center, center);
  font-size: $l-text-size;
  color: $peach;
  transition: all 0.3s ease-in;
  margin: 0 $xs-box-size;

  &:hover {
    color: lighten($peach, 15%);
    cursor: pointer;
  }
}

.h-top-bar-search-results {
  background-color: $salad;
  border-radius: pxToRem(18) pxToRem(18) pxToRem(0) pxToRem(0);
}

.h-top-bar-modal {
  background-color: $salad;
  border-radius: none;
}
.active-accordion {
  max-height: 100px;
  overflow: visible;
  opacity: 1;
}

.active-dropdown--item {
  color: $peach;
}

/* =============== Animations ================= */
@keyframes element-pop-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
