/* ============ Globals ============ */
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 48px;
  margin: 1.5rem 0;
}
h2 {
  font-size: 18px;
  margin: 1.2rem 0;
}
h3 {
  font-size: 16px;
  margin: 1rem 0;
}
h4 {
  font-size: 14px;
  margin: 0.8rem 0;
}
p {
  font-size: 14px;
  margin: 1rem 0;
}

/* ============= Media Queries ============== */
@media screen and (min-width: 480px) {
  h1 {
    margin: 1.8rem 0;
  }
  h2 {
    font-size: 22px;
    margin: 1.5rem 0;
  }
  h3 {
    font-size: 18px;
    margin: 1.2rem 0;
  }
  p {
    font-size: 16px;
    margin: 1.2rem 0;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    margin: 2rem 0;
  }
  h2 {
    font-size: 28px;
    margin: 1.8rem 0;
  }
  h3 {
    font-size: 24px;
    margin: 1.5rem 0;
  }
  p {
    font-size: 20px;
    margin: 1.5rem 0;
  }
}
