/* ============= Settings ============== */

/* Variables */
$white: #ffffff;
$lightGrey: rgb(237, 237, 237);
$black: #000;
$peach: rgb(255, 152, 0);
$salad: #00cc33;
$crimson: #dc143c;

/* Box Sizes */
$xs-box-size: 0.5rem;
$s-box-size: 1rem;
$m-box-size: 1.5rem;
$l-box-size: 2.5rem;
$xl-box-size: 4rem;
$xxl-box-size: 5rem;

/* Text Sizes */
$xs-text-size: 1.4rem;
$s-text-size: 1.6rem;
$m-text-size: 2rem;
$l-text-size: 2.8rem;
$xl-text-size: 3.5rem;
$xxl-text-size: 4.5rem;
